<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="program_information_databaseConnectionString_SchoolTable"
            connectionString="Data Source=Panchal\SQLExpress;Initial Catalog=program_information_database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
 
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" maxRequestLength="1048576" executionTimeout="3600"  />
    </system.web>
  
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  
</configuration>
